.error {
    position: absolute;
    color: red;
    top: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.searchbar {
    display: flex;
    gap: 20px;
}

.searchbar__input {
    height: 25px;
    align-self: center;
}
